Host bastion
  Hostname bastion.vault-demo.useless.mobi
  User admin
  IdentityFile ../keys/k8s/kubernetes_rsa
  PasswordAuthentication no
  ForwardAgent yes
  ServerAliveInterval 60
  TCPKeepAlive yes
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 15m
  LogLevel QUIET

Host 90.80.1.14
  User ec2-user
  IdentityFile ../keys/vault/vault_rsa
  ServerAliveInterval 60
  TCPKeepAlive yes
  ProxyJump admin@bastion
  LogLevel QUIET
  StrictHostKeyChecking no

Host 90.80.2.154 
  User ec2-user
  IdentityFile ../keys/vault/vault_rsa
  ServerAliveInterval 60
  TCPKeepAlive yes
  ProxyJump admin@bastion
  LogLevel QUIET
  StrictHostKeyChecking no

Host 90.80.3.233
  User ec2-user
  IdentityFile ../keys/vault/vault_rsa
  ServerAliveInterval 60
  TCPKeepAlive yes
  ProxyJump admin@bastion
  LogLevel QUIET
  StrictHostKeyChecking no

Host 90.80.*
  User admin
  IdentityFile ../keys/k8s/kubernetes_rsa
  ServerAliveInterval 60
  TCPKeepAlive yes
  ProxyJump admin@bastion
  LogLevel QUIET
  StrictHostKeyChecking no